In [1]:
import pandas as pd

In [2]:
 # Read data from file
df = pd.read_csv("adult.data.csv")

In [35]:
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [4]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df["race"].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
# What is the average age of men?
average_age_men = df[df["sex"] == "Male"]["age"].mean()
print(round(average_age_men,2))

39.43

In [6]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors =(len(df[df['education'] == 'Bachelors']) / len(df)) * 100
print(round(percentage_bachelors,2))

16.45

In [7]:
 # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
percentage_BC_MC_DOC = len(df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == ">50K")]) / len(df) * 100
print(round(percentage_BC_MC_DOC,2))

10.71

In [8]:

#What percentage of people without advanced education make more than 50K?
percentage_No_ADV_Education = len(df[(~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == ">50K")]) / len(df) * 100
print(round(percentage_No_ADV_Education,2))

13.37

In [9]:
#What is the minimum number of hours a person works per week?
Min_work_Hours = df['hours-per-week'].min()
print(Min_work_Hours)

1

In [10]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
Min_work_Hours = len(df[(df['hours-per-week'].min()) & (df['salary'] == ">50K")]) / len(df) * 100
print(round(Min_work_Hours_50k,2))

24.08

In [33]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
Country_50K = df[df['salary'] == ">50K"].groupby('native-country').size() / df.groupby('native-country').size() * 100
print(round(Country_50K,2).sort_values())

native-country
Dominican-Republic             2.86
Columbia                       3.39
Guatemala                      4.69
Mexico                         5.13
Nicaragua                      5.88
Peru                           6.45
Vietnam                        7.46
Honduras                       7.69
El-Salvador                    8.49
Haiti                          9.09
Puerto-Rico                   10.53
Trinadad&Tobago               10.53
Portugal                      10.81
Laos                          11.11
Jamaica                       12.35
Ecuador                       14.29
Thailand                      16.67
Poland                        20.00
South                         20.00
Ireland                       20.83
Hungary                       23.08
United-States                 24.58
Scotland                      25.00
?                             25.04
Cuba                          26.32
China                         26.67
Greece                        27.59
Hong                          30.00
Philippines                   30.81
Germany                       32.12
Canada                        32.23
England                       33.33
Italy                         34.25
Cambodia                      36.84
Yugoslavia                    37.50
Japan                         38.71
Taiwan                        39.22
India                         40.00
France                        41.38
Iran                          41.86
Holand-Netherlands              NaN
Outlying-US(Guam-USVI-etc)      NaN
dtype: float64

In [46]:
#Identify the most popular occupation for those who earn >50K in India.
india_50k = df[(df['native-country'] == 'India') & (df['salary'] == ">50K")]
Occupation_india = india_50k['occupation'].value_counts()
print(Occupation_india)

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64